@media (max-width : 360px) {
  .bank-list {
    text-align: center;
    width: 360px;
    height: 300px;
  }
  .bank-image {
    max-width: 100px;
  }
  .bank-image-container {
    float:left;
    margin: 5px;
    padding-top: 10px;
    width: 160px;
    height: 65px;
    background-color: white;
  }
}

@media (min-width : 360px) {
  .bank-list {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 300px;
  }
  .bank-image {
    width: 100px;
  }
  .bank-image-container {
    float:left;
    margin: 5px;
    width: 160px;
    padding-top: 10px;
    height: 65px;
    background-color: white;
  }
}
.banks {
  display:inline-block;
  label > input{
    visibility: hidden;
    position: absolute;
  }
  label > input + div {
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + div {
    border:2px solid #F97056;  /* $color-orange */
  }
}
.select-bank {
  padding-top: 50px;
  text-align: center;
  background-color: #304FFE; /* $color-blue*/
}
.choose-bank-button {
  color: white;
  background-color: #F97056; /* $color-orange */
  padding-top: 8px;
  padding-bottom: 8px;
  border :0px;
  width: 245px;
  font-size: 18px;
}
.bank-selector-actions {
  padding-top: 10px;
  padding-bottom: 20px;
}
