.login-details {
  padding-top: 20px;
  text-align: center;
  background-color: #304FFE;
}
.login-and-connect-button {
  color: white;
  background-color: #F97056; /* $color-orange */
  padding-top: 8px;
  padding-bottom: 8px;
  border :0px;
  width: 245px;
}
.login-actions {
  height: 70px;
  padding-top: 15px;
}
.form-group {
  height: 50px;
}
.form-control {
  font-size: 20px;
}
.error-message{
  color: #F97056; /* $color-orange */
}
