html {
}

@media (max-width : 360px) {
  h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }
  h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
  body {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
  }
}
@media (min-width : 360px) {
  h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
  }
  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
  }
  h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
  }
  body {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
  }
}
h1 {
  font-family: 'Montserrat', 'Arial', sans-serif;
}
h2 {
  font-family: 'Montserrat', 'Arial', sans-serif;
  margin: 0;
}
h3 {
  font-family: 'Montserrat', 'Arial', sans-serif;
}
body {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  /*background-color: #304FFE;*/
}
p {
  font-family: 'Source Sans Pro','Arial', sans-serif;
}

input {
  font-size: 20px;
  font-weight: normal;
  bottom-border: #D9D9D9;
}
small {
  font-family: 'Source Sans Pro','Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 21px;
  opacity: 80;
}
